<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}URBANCRAFT PROPERTIES{% endblock title %} </title>
    <meta name="description" content="We specialize in home improvement services and repairs such as: drywall, painting, carpentry, flooring and other light fixes ( e.g changing toilet) in Desplaines Illinois.">
    <link rel="icon" type="image/png" href="static/images/urban-craft.png">
    
    <link rel="stylesheet" href="static/css/output.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>

<body>
    {% block content %}{% endblock %}
</body>


{% include "components/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <div
        data-chat-widget
        data-widget-id="688f941667d91b85379c689b"
        data-location-id="JWkloZfeoHP203HU6Ef0"  >
    </div>
    <script
        src="https://beta.leadconnectorhq.com/loader.js"  
        data-resources-url="https://beta.leadconnectorhq.com/chat-widget/loader.js"
        data-widget-id="688f941667d91b85379c689b"   >
     </script>
</body>
</html>
